{# views/templates/admin/bulk_assign_form.html.twig #}
{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col">
            {{ form_start(form) }}
            <div class="card">
                <h3 class="card-header">
                    <i class="material-icons">add_circle_outline</i> {{ layoutTitle }}
                </h3>
                <div class="card-body">
                    <div class="alert alert-info" role="alert">
                        <p class="alert-text">
                            {{ 'You are about to modify %count% products. Select the categories you want to add them to.'|trans({'%count%': productCount}, 'Modules.Pannizbulkproductcategory.Admin') }}
                        </p>
                    </div>

                    {# Render the categories field and the hidden one with the IDs #}
                    {{ form_row(form.categories) }}
                    {{ form_widget(form.product_ids) }}
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-end">
                        {# FIX: Use the variable passed from the controller #}
                        <a href="{{ cancel_url }}" class="btn btn-outline-secondary mr-2">
                            {{ 'Cancel'|trans({}, 'Admin.Actions') }}
                        </a>
                        {{ form_widget(form.save) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
        <script>
        $(document).ready(function() {
            const ChoiceTree = new window.prestashop.component.ChoiceTree('#bulk_category_assign_categories');
            ChoiceTree.enableAutoCheckChildren();

        });
    </script>
{% endblock %}
